@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;

  font-style: normal;
  background-color: #0d0e11;
}

ul li {
  line-height: 27px;
}

.vl {
  position: relative;
  padding: 2px;
  background: linear-gradient(180deg, #6857f6, #a549e2);
  border-radius: 60px;
}
.vl_me {
  position: relative;
  padding: 2px;
  background: linear-gradient(180deg, #6857f6, #a549e2);
  /* border-radius: 60px; */
  padding: 7px;
  width: 100%;
}

.vl > .inner {
  display: block;
  padding: 8px 16px;
  background-color: #1a1a1a;
  border-radius: 60px;
  text-align: center;
  color: white;
}

@media (min-width: 768px) {
  body {
    background-color: #17191f;
  }
}

.explore {
  color: #a34ae3;
}
